/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --text-color: #f1b2ce;
  --bg-color: #000028;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --shadow-color: #ff0070;
  --shadow-min-color: #ff0070;
  --button-color: 255, 0, 112;
  --st-color: #000028;
  --sc-title-color: #ff0070;
  --bg-image: url(../images/cover-image-dark.png);
}
